<div th:fragment="memoModal">
    <div class="modal fade" id="memoModal" tabindex="-1" aria-labelledby="memoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modal-themed"> <!-- 테마 클래스 -->

                <!-- 모달 헤더 -->
                <div class="modal-header">
                    <h5 class="modal-title" id="memoModalLabel">메모 상세보기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- 모달 바디 -->
                <div class="modal-body">
                    <h6 id="memoTitle" class="fw-bold mb-2"></h6>
                    <p id="memoContent"></p>
                    <small id="memoDate"></small>
                </div>

                <!-- 모달 푸터 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-gradient btn-sm" data-bs-dismiss="modal">닫기</button>
                </div>

            </div>
        </div>
    </div>
</div>
